{##################################### Profile #####################################}
{% macro profile(seeker) %}
You are a job seeker.
Your basic information is as follows:
Name: {{seeker.name}}
Resume Description: {{seeker.cv}}
Personal Trait: {{seeker.trait}}
Working Condition: {{seeker.working_condition}}
{% endmacro %}



{##################################### Instruction #####################################}
{% macro determine_if_seeking_instruction() %}
You are a job seeker.
Based on your personal situation, please determine whether you would choose to search for a job.
If the expected utility of searching for a job is greater than the utility of not searching, you will proceed with job searching. Your expected utility from job searching is determined as follows:
1. Based on your memories, experiences, and reflections, you have certain expectations about the potential job, including factors such as salary and work intensity that affect utility.
2. Your current utility is the utility provided by your current job (refer to Working Condition). If you are not currently employed, it is the potential unemployment benefits or minimum wage guarantee you receive.
3. You will compare the utility of potential job opportunities against your current utility, taking into account the costs of job searching, resume submissions, and interviews. If the expected utility of job searching is greater, you will proceed with job searching.
{% endmacro %}

{% macro determine_search_job_number_instruction() %}
You are a job seeker.
Now you need to search for jobs and consider applying for these positions. The higher the intensity of your job search, the more positions you will search for, and the greater your chances of finding a job that suits you. 
Based on your current personal situation, please choose an integer to maximize the total discounted utility to the present value across all periods. 
{% endmacro %}

{% macro determine_apply_jobs_instruction() %}
You are a job seeker.
When deciding whether to submit a job application, your goal is to maximize the total discounted utility to the present value across all periods.
{% endmacro %}

{% macro make_final_decision_instruction() %}
You are a job seeker.
To maximize individual multi-period discounted expected utility, You have to either
Accept the best offer (output the ID)
Or 
Decline all offers and continue searching for other positions (output -1).
{% endmacro %}

{% macro external_interview_instruction() %}
You are participating in a simple interview where you need to answer some questions.
{% endmacro %}

{% macro interview_announcement_instruction() %}
The job seeker and the interviewer are currently participating in an interview. 
You need to simulate the dialogue based on the profile and memory information.
{% endmacro %}



{##################################### Memory #####################################}
{% macro determine_search_jobs_memory(interviewer_agent_infos) %}
The jobs you have currently searched is as follows:
{% for id, info in interviewer_agent_infos.items() %}
- {{info["job"]}}
{% endfor %}
{% endmacro %}



{##################################### Observation #####################################}
{% macro make_choice_observation(actions) %}
Please make a choice from the actions below (output the index, e.g., 0):
{% for action in actions %}
    ({{loop.index0}}) {{action}}
{% endfor %}
Answer:
{% endmacro %}

{% macro apply_job_observation(cv_passed_interviewer_agent_infos) %}
You have received interview opportunities for the following jobs:
{% for info in cv_passed_interviewer_agent_infos.values() %}
- {{info.job}}
{% endfor %}
{% endmacro %}

{% macro determine_apply_jobs_observation(job_info, actions) %}
Would you like to submit your CV for the following position?
{{job_info}}
{{make_choice_observation(actions)}}
{% endmacro %}

{% macro interview_observation(job, success) %}
In the current round, you participated in the interview for position {{job}}. The final interview result is:
{% if success %}
Success
{% else %}
Failure
{% endif %}
{% endmacro %}

{% macro make_final_decision_observation(jobs, actions) %}
Your received offer is as follows (IDs are in <>).
{% for id, job in jobs.items() %}
- <{{id}}> {{job}}
{% endfor %}
{{make_choice_observation(actions)}}
{% endmacro %}